@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&family=Work+Sans:wght@200&display=swap');

.App{
    min-height: 100vh;
    display: flex;
    background-image: url("../backgroundlogin.jpg");
    background-size: cover;
    background-position: center;

}

html {
    font-family: "Montserrat", sans-serif;
  }